<div>
	<h3>Course Builder 3.0.0- 2019-08-05</h3>

	<div class="update">Update</div>
	<ul>
		<li>Support Element.</li>
		<li>Improved styles.</li>
		<li>Fixed not show instagram in Instruction.</li>
		<li>Fixed widget login not uncheck popup config.</li>
		<li>Update translate.</li>
		<li>Fixed product single image.</li>
	</ul>

	<h3>Course Builder 2.4.1- 2019-06-17</h3>

	<div class="update">Update</div>
	<ul>
		<li>Show Mega Menu on Mobile.</li>
		<li>Improved styles.</li>
		<li>Fixed contact form on profile page.</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.4.0- 2019-05-07</h3>

	<div class="update">Update</div>
	<ul>
		<li>Fixed error register popup.</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.3.9 - 2019-05-03</h3>

	<div class="update">Update</div>
	<ul>
		<li>Improved login form (captcha, term link, popup option for post type).</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.3.8 - 2019-04-26</h3>

	<div class="update">Update</div>
	<ul>
		<li>Improved profile page.</li>
		<li>Updated retina sticky logo.</li>
		<li>Updated forums page layout.</li>
		<li>Updated translation file.</li>
		<li>Fixed social share style.</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.3.7 - 2019-03-29</h3>

	<div class="update">Update</div>
	<ul>
		<li>Updated captcha popup form login.</li>
		<li>Updated profile link.</li>
		<li>Improved sort tab learning course.</li>
		<li>Improved event datetime format.</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.3.6 - 2019-03-22</h3>

	<div class="update">Update</div>
	<ul>
		<li>Improved Gutenberg.</li>
		<li>Improved display image for variable product.</li>
		<li>Updated display author for related course.</li>
		<li>Updated layout for tag page, single page.</li>
		<li>Updated background image for event category, tags.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (responsive, search course, duplicate captcha register form, ...)</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.3.5 - 2019-02-11</h3>

	<div class="update">Update</div>
	<ul>
		<li>Improved course searching in course page.</li>
		<li>Improved buy course button (guest checkout).</li>
		<li>Added social network profile (linkedin, instagram).</li>
		<li>Improved translation file.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (responsive, RTL, ...)</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.3.4 - 2019-01-18</h3>

	<div class="update">Update</div>
	<ul>
		<li>Added courses sorting.</li>
		<li>Improved Students List Add-ons.</li>
		<li>Improved Course enroll popup, display remaining time.</li>
		<li>Improved Instructor, Enroll course shortcode.</li>
		<li>Improved Forums, BuddyPress styles.</li>
		<li>Improved translation file.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (profile, responsive, lesson video,...)</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.3.3 - 2019-01-11</h3>

	<div class="update">Update</div>
	<ul>
		<li>Improved styles, customizer options (Header menu).</li>
		<li>Added customizer options for 404 page.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (Enroll course, RTL,...)</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.3.2 - 2019-01-03</h3>

	<div class="update">Update</div>
	<ul>
		<li>Improved styles (course single and RTL).</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (Course megamenu, LearnPress 3.x issues...)</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.3.1 - 2018-12-28</h3>

	<div class="update">Update</div>
	<ul>
		<li>Supported Gutenberg.</li>
		<li>Added layout option in collection, forums page.</li>
		<li>Improved registration process.</li>
		<li>Improved translation file.</li>
		<li>Improved comment option in customizer.</li>
		<li>Improved styles(Popup, learning, collection, profile  ).</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (Responsive, RTL,...)</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.3.0 - 2018-11-16</h3>

	<div class="update">Update</div>
	<ul>
		<li>Improved WooCommerce 3.5.x compatibility.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (Responsive, RTL, Page title, ...)</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.2.9 - 2018-10-26</h3>

	<div class="update">Update</div>
	<ul>
		<li>Updated demo content.</li>
		<li>Improved profile page.</li>
		<li>Improved collection page.</li>
		<li>Improved page title.</li>
		<li>Improved WooCommerce 3.5.x compatibility.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (responsive,...)</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.2.8 - 2018-10-19</h3>

	<div class="update">Update</div>
	<ul>
		<li>Updated demo data.</li>
		<li>Updated profile page.</li>
		<li>Updated mobile menu.</li>
		<li>Updated search form in course archive.</li>
		<li>Updated enroll course shortcodes.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (collections, introduction, course single, responsive, RTL, ...)</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.2.7 - 2018-09-28</h3>

	<div class="update">Update</div>
	<ul>
		<li>Updated label "NEW" course.</li>
		<li>Updated file translate.</li>
		<li>Updated demo data.</li>
		<li>Updated footer style option for homepage.</li>
	</ul>

	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Add tabs course single</li>
		<li>Form lost password</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.2.6 - 2018-09-14</h3>

	<div class="update">Update</div>
	<ul>
		<li>Updated Collection, Tab course option in customize.</li>
		<li>Updated style for course single.</li>
		<li>Updated translate.</li>
		<li>Updated gallery page.</li>
	</ul>
	
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Course single on mobile</li>
		<li>Fixed some minor bugs (RTL, Course page, Social share, Events ...)</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.2.5 - 2018-08-17</h3>

	<div class="update">Update</div>
	<ul>
		<li>Added popup option for button buy course, buy event.</li>
		<li>Added page title image for categories page, single page.</li>
		<li>Added custom code js, Google Analytics, Facebook Pixel option in customize</li>
		<li>Updated style for login popup model.</li>
		<li>Updated style for event page.</li>
		<li>Updated header option in customize.</li>
		<li>Updated style for checkout page, course single.</li>
		<li>Updated demo data.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (RTL, Course page, ...)</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.2.4.1 - 2018-08-02</h3>
	<div class="update">Update</div>
	<ul>
		<li>Updated API Key for Google Map.</li>
		<li>Updated demo data.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs of page title.</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.2.4 - 2018-08-01</h3>
	<div class="update">Update</div>
	<ul>
		<li>Added header menu mobile options in Customize.</li>
		<li>Added top image options (course, collection, product for page title in Customize).</li>
		<li>Updated style for Course single page.</li>
		<li>Updated show Top bar on course single page.</li>
		<li>Updated link username after login in header.</li>
		<li>Updated demo data.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (Responsive, Course page, Event page,...)</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.2.3 - 2018-07-13</h3>
	<div class="update">Update</div>
	<ul>
		<li>Added gallery page</li>
		<li>Added portfolio page</li>
		<li>Added learnPress Add-ons compatibility with theme</li>
		<li>Added style for Course single page</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed membership page style</li>
		<li>Fixed page title for Collection page</li>
		<li>Fixed some minor bugs (RTL style, Responsive, Total lesson,...)</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.2.2 - 2018-07-01</h3>
	<div class="fixes">Update</div>
	<ul>
		<li>Fixed Theme name on Theme Dashboard.</li>
	</ul>
</div>

<div>
	<h3>Course Builder 2.2.1 - 2018-06-18</h3>
	<div class="update">Update</div>
	<ul>
		<li>Added revolution slider (Demo Corporate Elearning II & Test Prep).</li>
		<li>Added mega menu header.</li>
		<li>Updated language file and demo data.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (Skype call link, Membership page layout, sidebar widget,...).</li>
	</ul>
</div>


<div>
	<h3>Course Builder 2.2.0 - 2018-06-01</h3>
	<div class="update">Update</div>
	<ul>
		<li>Updated course Purchased and Wishlist icon in archive page.</li>
		<li>Update demo layout and style.</li>
		<li>Updated header layout search widget.</li>
		<li>Updated show course reviews for non-enroll user.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>Fixed some minor bugs (lesson view access,...)</li>
	</ul>
</div>


	<div>
		<h3>Course Builder 2.1.9 – 25/05/2018</h3>
		<ul>
			<li>ADDED: GDPR compabibility </li>
			<li>ADDED: Purchased and Wishlist icon in course archive page</li>
			<li>UPDATED: Restrict lesson media content for non-enrolled users</li>
			<li>UPDATED: Flag position and color of progress bar for completed courses</li>
			<li>FIXED: Some minor bugs (Top Bar in responsive layout, Become an Instructor checkbox in register pop-up, custom tabs in course learning page...)</li>
		</ul>

		<h3>Course Builder 2.1.8 – 18/05/2018</h3>
		<ul>
			<li>ADDED: Sticky price bar in course single page</li>
			<li>UPDATED: Event grid style and sidebar</li>
			<li>UPDATED: Register and Login process</li>
			<li>UPDATED: Loading effect when clicking button</li>
			<li>UPDATED: Customize settings & icons</li>
			<li>UPDATED: Button 'Back To Course' when cart is empty</li>
			<li>UPDATED: Learnpress Assignment Add-ons compatibility </li>
			<li>FIXED: Some minor bugs (lesson view on Safari, hidden post title and admin bar in single post, avatar upload in RTL,...)</li>

		</ul>

		<h3>Course Builder 2.1.7 – 04/05/2018</h3>
		<ul>
			<li>UPDATED: RTL styles</li>
			<li>UPDATED: Course learning page style</li>
			<li>UPDATED: Hidden ads setting in Customize</li>
			<li>UPDATED: Password strength when register from checkout page</li>
			<li>UPDATED: Featured image in Course Landing page</li>
			<li>FIXED: Register redirect of shortcode Thim Login</li>
			<li>FIXED: Some minor bugs (preview video lesson, lesson popup in safari, scrollbar single course, shortcode Thim Course Block 3... )</li>
		</ul>

		<h3>Course Builder 2.1.6 – 20/04/2018</h3>
		<ul>
			<li>ADDED: RTL demo</li>
			<li>UPDATED: show admin in All Teacher page</li>
			<li>UPDATED: Collapse/Expand icon of course section</li>
			<li>UPDATED: Hide Lesson media section when lesson is non-preview</li>
			<li>FIXED: Some minor bugs (login popup, profile page style. load more button of course review...)</li>
		</ul>

		<h3>Course Builder 2.1.5 – 10/04/2018</h3>
		<ul>
			<li>ADDED: Register popup</li>
			<li>UPDATED: Demo data</li>
			<li>UPDATED: Membership page style</li>
			<li>FIXED: Some minor bugs (shorcode Thim Events categories, retina logo, styling issues...)</li>
		</ul>

		<h3>Course Builder 2.1.4 – 30/03/2018</h3>
		<ul>
			<li>UPDATED: RTL and responsive for course single page</li>
			<li>UPDATED: Profile dropdown menu links</li>
			<li>UPDATED: Button Buy This Course redirects</li>
			<li>UPDATED: Courses after enrolled don't show price</li>
			<li>FIXED: Some minor bugs (shorcode Thim Image Box line breaks, warning when adding course custom tab...)</li>
		</ul>

		<h3>Course Builder 2.1.3 – 23/03/2018</h3>
		<ul>
			<li>ADDED: Review tab in course landing page</li>
			<li>UPDATED: Course content supports Visual Composer shortcodes</li>
			<li>UPDATED: Responsive</li>
			<li>UPDATED: feature Adding New Tab in course learning page</li>
			<li>FIXED: Some minor bugs (shorcode Thim Course Block 3 sale tag,...)</li>
		</ul>

		<h3>Course Builder 2.1.2 – 22/03/2018</h3>
		<ul>
			<li>ADDED: Related courses section in course single page</li>
			<li>UPDATED: Add-ons compatibility with theme (Wishlist, Course Review, Co-instructor)</li>
			<li>UPDATED: Shortcode compatibility with theme (Thim Course Search, Thim Instructors, Thim Skill Bar, Thim Course Carousel)</li>
			<li>UPDATED: Styling for Course Collection archive and single page</li>
			<li>UPDATED: Media in lesson doesn't show</li>
			<li>UPDATED: Become An Instructor Form is unable to fill</li>
			<li>FIXED: Some minor bugs (Categories description can't be edited,...)</li>
		</ul>

		<h3>Course Builder 2.1.1 - 19/03/2018</h3>
		<ul>
			<li>UPDATED: Profile page responsive style</li>
			<li>UPDATED: Course single page layout 2</li>
			<li>UPDATED: Course single page excerpt</li>
			<li>FIXED: Some minor bugs (Thim Step shortcode,...)</li>
		</ul>

		<h3>Course Builder 2.1.0 - 14/03/2018</h3>
		<ul>
			<li>UPDATED: Prepared for the next LearnPress 3.0.</li>
			<li>UPDATED: Demo data and language file</li>
			<li>FIXED: Some minor bugs (Thim Step shortcode,...)</li>
		</ul>

		<h3>Course Builder 2.0.3 - 06/03/2018</h3>
		<ul>
			<li>ADDED: New Demo Corporate Learning</li>
			<li>UPDATED: Filter on events archive page</li>
			<li>UPDATED: Login link in blog single page/PMP page</li>
			<li>UPDATED: Hide course price when enable "Buy course only via Membership" option</li>
			<li>UPDATED: Some options for shortcode (Select course by category, Instructor, Events status,...)</li>
			<li>UPDATED: Responsive</li>
			<li>FIXED: Some minor bugs (Paypal button, Wishlist button, Icons profile page, Messenger chat positions,...)</li>
		</ul>

		<h3>Course Builder 2.0.2 - 06/02/2018</h3>
		<ul>
			<li>UPDATED: Shortcode Thim Text Box opens link in same tab/new tab</li>
			<li>UPDATED: Shortcode Thim Icon box layout</li>
			<li>UPDATED: Responsive and RTL layout for all demos</li>
			<li>FIXED: Some minor bugs (Become an instructor submit without login, course review title doesn't show, hide Add to Wishlist button after buy course...)</li>
		</ul>

		<h3>Course Builder 2.0.1 - 26/1/2018</h3>
		<ul>
			<li>UPDATED: Demo data</li>
			<li>FIXED: RTL layout</li>
			<li>FIXED: Login/Register button is unable to click</li>
		</ul>

		<h3>Course Builder 2.0.0 - 24/1/2018</h3>
		<ul>
			<li>ADDED: New demo Test Prep for Course Builder theme!</li>
			<li>UPDATED: Show Co-instructor in course single page</li>
			<li>UPDATED: Add Font Awesome Icons for shortcodes</li>
			<li>UPDATED: Course duration and total learning feature</li>
			<li>FIXED: Some minor bugs (shortcode thim user info shows html, retype password unmatched, deactivate course review add-on shows error...)</li>
		</ul>

		<h3>Course Builder 1.0.9 - 26/12/2017</h3>

		<ul>
			<li>ADDED: Profile dropdown menu for demo 3 and 4</li>
			<li>ADDED: Cart icon for demo 3 and 4</li>
			<li>ADDED: Pop-up login for demo 3 and 4</li>
			<li>UPDATED: Thim Testimonial shortcode slider style</li>
			<li>UPDATED: Sidebar setting in  course single page</li>
			<li>FIXED: Some minor bugs (Coming Soon plugin showing enroll button, course archive page not showing grid style...)</li>
		</ul>

		<h3>Course Builder 1.0.8 - 6/12/2017</h3>

		<ul>
			<li>ADDED: LearnPress addons to demo import process.</li>
			<li>ADDED: Custom Page Title options for single page.</li>
			<li>ADDED: Progress bar in LearnPress lesson.</li>
			<li>UPDATED: Child theme function.php.</li>
			<li>UPDATED: Theme language file.</li>
			<li>FIXED: Some minor bugs (course archive page title, blog video format thumbnail, author avatar in Post Block 1 shortcode...).</li>
		</ul>
	</div>



<div>
	<h3>Course Builder 1.0.7 - 2017-11-10</h3>
	<div class="update">Update</div>
	<ul>
		<li>ADDED: Login/Register redirect option</li>
		<li>ADDED: Cart icon for demo 3 and 4</li>
		<li>ADDED: Popup for Social share</li>
		<li>UPDATED: Demo content and RTL layout</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>FIXED: Some minor bugs (shortcodes style, lesson view, LearnPress conflicts,...).</li>
	</ul>
</div>

<div>
	<h3>Course Builder 1.0.6 - 2018-10-27</h3>
	<div class="update">Update</div>
	<ul>
		<li>ADDED: Register option for Demo 3 and 4.</li>
		<li>ADDED: Login/Register, Profile option on mobile.</li>
		<li>ADDED: Open new tab option for Thim Textbox and Button</li>
		<li>UPDATED: Demo data and button style</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>FIXED: Some minor bugs (empty course page, register redirect, plugins deactivation conflict, ...).</li>
	</ul>
</div>

<div>
	<h3>Course Builder 1.0.5 - 2017-10-11</h3>
	<div class="update">Update</div>
	<ul>
		<li>ADDED: Login popup feature.</li>
		<li>ADDED: Course progress bar in user profile.</li>
		<li>ADDED: Course progress bar in user profile.</li>
		<li>ADDED: Customize setting to change lesson logo.</li>
		<li>UPDATED: Demo data</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>FIXED: Some minor bugs (shop page on mobile, menu on mobile, ...).</li>
	</ul>
</div>

<div>
	<h3>Course Builder 1.0.4 - 2017-09-22</h3>
	<div class="update">Update</div>
	<ul>
		<li>ADDED: bbPress Style.</li>
		<li>ADDED: Import demo with VC Templates</li>
		<li>UPDATED: Improve active callback Radio Image field.</li>
		<li>UPDATED: Mobile responsive.</li>
		<li>UPDATED: UI/UX.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>FIXED: Login problem, redirecting to WP Login page.</li>
	</ul>
</div>

<div>
	<h3>Course Builder 1.0.3 - 2017-09-19</h3>
	<div class="update">Update</div>
	<ul>
		<li>ADDED: New option custom tab only visible for author, co-instructor and administrator, not public.</li>
		<li>ADDED: Option alignment for shortcode Thim Counter box.</li>
		<li>UPDATE: BuddyPress Style.</li>
		<li>UPDATE: UI.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>FIXED: Collection archive page.</li>
		<li>FIXED: Shortcode Course Enroll.</li>
	</ul>
</div>

<div>
	<h3>Course Builder 1.0.2 - 2017-08-19</h3>
	<div class="update">Update</div>
	<ul>
		<li>UPDATE: Allow overwrite shortcodes template.</li>
		<li>UPDATE: Allow change icon on Thim: Heading.</li>
		<li>UPDATE: Child theme.</li>
		<li>UPDATED: Demo data.</li>
		<li>UPDATED: UX/UI.</li>
		<li>UPDATED: RTL.</li>
	</ul>
	<div class="fixes">Bug fixes</div>
	<ul>
		<li>FIXED: Style for Event page.</li>
		<li>FIXED: Some minor bugs.</li>
	</ul>
</div>

<div>
	<h3>Course Builder 1.0.1 - 2017-09-12</h3>
	<div class="update">Update</div>
	<ul>
		<li>Updated description.</li>
	</ul>
</div>

<div>
	<h3>Course Builder 1.0.0 - 2017-09-12</h3>
	<div class="update">Update</div>
	<ul>
		<li>Release the first version.</li>
	</ul>
</div>

